# This is a basic workflow to help you get started with Actions

name: auto

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
#    tags:
#      - "v*" 
      
permissions:
  id-token: write
  issues: write
  pull-requests: write
  actions: write
  checks: write
  contents: write
  deployments: write
#  metadata: read
  packages: write
  pages: write
  repository-projects: write
  security-events: write
  statuses: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

#      - uses: mukunku/tag-exists-action@v1.2.0
 #       id: checkTag
  #      with: 
   #       tag: ${{ github.event.inputs.version }}
#
 #     - run: |
  #        if [[ ${{ steps.checkTag.outputs.exists }} == false ]]; then
   #         echo ${{ github.event.inputs.version }} is not valid tag
    #        exit 1
     #     fi
      #    
#      - name: git fetch tags
 #       run: |
  #        echo "::set-output version = ${{ github.event.inputs.version }}"
   #       git checkout tags/${{ github.event.inputs.version }}
    #      
      - name: running shell script
        run: ./scripts/shell-script.sh
        shell: bash
      
      - name: release artifact
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          prerelease: false
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
