# This is a basic workflow to help you get started with Actions

name: manual trigger

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          ref: refs/tags/v1.0.0
          
      
      #fetch-depth: 3
          
     # - name: revert script
     #   run:
     #     git reset --hard HEAD^
      
    #  - name: Run a shell script
    #    run: ./scripts/shell-script.sh
   #     shell: bash
         
